{% load static %}

<ul class="navbar-nav bg-brwn sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url "dashboard" %}">
        <div class="sidebar-brand-icon">
            <i class="fas fa-spa"></i>
        </div>
        <div class="sidebar-brand-text mx-3">FieldScan</div>
    </a>

    
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        User menu
    </div>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item {% if request.path == '/dashboard' %}active{% endif %}">
        <a class="nav-link" href="{% url "dashboard" %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item {% if request.path == '/signals' %}active{% endif %}">
        <a class="nav-link" href="{% url "signals" %}" href="{% url "signals" %}">
            <i class="fas fa-file-invoice"></i>
            <span>Measurements</span>
        </a>
    </li>
    <li class="nav-item {% if request.path == '/upload-image' %}active{% endif %}">
        <a class="nav-link" href="{% url "upload image" %}">
            <i class="fas fa-image"></i>
            <span>Upload image</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>